.ChoiceItem {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);

  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.ChoiceItem-normal {
  .IconItem {
    box-shadow: inset 0 6px 0 0 #c1bfd5;
  }
}
.ChoiceItem-press {
  transform: translate(-50%, -50%) translateY(6px);
  transition: all 100ms ease-in;
}

// 

.device-mobile{
  .ChoiceItem{
    width: 75px;
    height: 75px;
    cursor: default;
  }

  .ChoiceItem-normal {
    .IconItem {
      box-shadow: inset 0 4px 0 0 #c1bfd5;
    }
  }
}