.Pages_choices {
  width: 475px;
  height: 475px;
}

//

.device-mobile {
  .Pages_choices {
    width: 275px;
    height: 275px;
    
    max-width: calc(100vw - 100px);
    max-height: calc(100vw - 100px);
  }
}
