.Game_score {
  margin-bottom: 120px;
}

.Game_choices {
  width: 475px;
  height: 475px;
}
.Game_choices-viewer{
  pointer-events: none;
}

//

.device-mobile {
  .Game_choices {
    width: 275px;
    height: 275px;
    
    max-width: calc(100vw - 100px);
    max-height: calc(100vw - 100px);
  }
}
